body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: hsla(0, 4%, 5%, 0.945);
}

#startTrainer{
    height: auto;
    width: 120px;
    padding: 20px;
    font-size: 30px;
    border: none;
    background-color: hsl(180, 100%, 77%);
    box-shadow: 0px 0px 30px hsl(199, 100%, 76%);
    border-radius: 20px;
    margin-top: -25px;
}

#translateVoc{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-shadow: 0px 0px 5px hsl(194, 100%, 72%);
}

#enterVocInput{
    margin-bottom: 40px;
    height: 40px;
    width: 300px;
    font-size: 30px;
    outline: none;
    box-shadow: 0px 0px 40px hsl(199, 100%, 76%);
    border: none;
    border-radius: 10px;
    background-color: hsl(199, 64%, 84%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#infoEnterVoc{
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
}

#changeLangBtn{
    margin-top: 10px;
    height: 35px;
    width: 160px;
    border-radius: 10px;
    background-color: hsl(184, 41%, 73%);
    border-color: hsl(187, 62%, 83%);
    border-width: 2px;
}

#returnChecked{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

#returnRightAnswer{
    margin-bottom: 80px;
    margin-top: 4px;
    font-size: 30px;
    color: hsl(187, 50%, 69%);
}

.wrong{
    color: red;
}

.right{
    color: rgb(0, 255, 0);
}